{% extends "layout.html" %}

{% block content %}
  
  {% if success %}
    <br><br>
    <div class="container">
      <p style="font-size:25px;">Thank you for your message. We'll get back to you shortly.</p>
    </div>
  
  {% else %}  
    <div id="parallax-aboutus" class="parallax-container aboutusPara" style="min-height: 50px;margin-bottom:20px;" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/contact-wallpaper.jpg') }}" data-natural-width="750" data-natural-height="763">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Contact</h1>
            </div>
          </div>
        </div>
        <br>
    </div>
    
    <div class="white">
      <div class="container">
        <br>
        <p class="text" style="font-size:25px; text-align:center; font-weight:bold;">If you have a need for a freelance web designer like myself to help you with your web project please get in touch by filling in the form below, or just click this link – <a href="mailto:jafsalami@hotmail.co.uk" style="color:#ff6600;">jafsalami@hotmail.co.uk</a></p>
        <br>
      </div>
    </div>
    
     <div class="jafar">
       <div class="container">
     
  
        {% for message in form.name.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        
        {% for message in form.email.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        
        {% for message in form.subject.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        
        {% for message in form.message.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        
        <form action="{{ url_for('contact') }}" method=post>
          {{ form.hidden_tag() }}
          
          <div class="col-md-4">
            {{ form.name.label }}
            {{ form.name }}
            
            {{ form.email.label }}
            {{ form.email }}
            
            {{ form.subject.label }}
            {{ form.subject }}
          </div>
          <div class="col-md-4">
            {{ form.message.label }}
            {{ form.message }}
          </div>
          
          <div class="col-md-4">
            <br><br>
            {{ form.submit }}
          </div>
        </form>
      </div>
      <br>
    </div>
    
    <div class="white">
      <div class="container">
        <center><img src="http://static1.squarespace.com/static/50d33393e4b06e38bcf5b324/t/53382bade4b0fa7f0985c8b4/1396190125590/Quotes+5.jpg?format=2500w" class="img-responsive"></img></center>
      </div>
    </div>
    
    <div class="footer">
          <div class="container">
            <center>
                <p style="font-size:25px;">E-Mail: <a href="mailto:jafsalami@hotmail.co.uk" style="color:white;">jafsalami@hotmail.co.uk</a></p>
                <p style="font-size:16px;"><a href="https://uk.linkedin.com/in/jafarosalami" style="color:white;">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/jafar70" style="color:white;">GitHub <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://twitter.com/JafarSalami" style="color:white;">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                <p>&copy; Created by Ja'far Salami</p>
                <br>
            </center>
          </div>
    </div>
    
  {% endif %}
{% endblock %} 
