<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxSUJ6olxoBg0rPfw4IdD1h8M92WZY1nKt4CGNv-lq1hE4yNDzKg">

    <title>Jafar Salami</title>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>    
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet">    
    <script src="https://use.fontawesome.com/eee93ac27c.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body>

    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" style="border-color: transparent;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
             <i class="fa fa-bars"></i> MENU
          </button>
          <a class="navbar-brand" href="/" style="color:#ff6600;">Jafar Salami</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/jafar70"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://uk.linkedin.com/in/jafarosalami"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/JafarSalami"><i class="fa fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="parallax-container text-center" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/wallpaper.png') }}" data-natural-width="750" data-natural-height="600">
      <br>
      <p class="slider-title" style="color:white;"><span>&nbspJafar Salami&nbsp</span></p>
      <br>
      <a href="#!" id="toaboutme"><img src="{{ url_for('static', filename='img/bounceuparrow.gif') }}" width="100px"></img></a>
    </div>
    
    
    <div class="white">
    <div class="container">
      <div id="aboutme">
        <br>
         <img src="{{ url_for('static', filename='img/personalpic.jpg') }}" width="247px" height="247px" class="img-responsive center-block img-circle"></img>
         <br>
         <p class="aboutmeheading text-center">HELLO, I AM A 3<sup>rd</sup> YEAR BUSINESS INFORMATION TECHNOLOGY STUDENT AT COVENTRY UNIVERSITY</p>
        <hr class="zig">
        <hr class="zag">
         <p class="text text-center">My name is Jafar Salami. I am 20 years old from London, UK and a third year Business Information Technology undergraduate at Coventry University on track to achieve a minimum of a 2:1. I am an ambitious, enthusiastic, hardworking and organised student.<br>
         I am currently looking for a graduate job as a front-end web developer.
         <br><br>
          First Year University Result: Second-class honours, upper division  (2:1)<br>
          Second Year University Result: Second-class honours, upper division (2:1)<br>
          Third Year University Result: First-class honours (1st) or Second-class honours, upper division (2:1) 
         </p>
         <hr class="zig">
        <hr class="zag">
      </div>
    </div>
    </div>  
    
    <div class="parallax-container indexParallax text-center" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/black-wood-texture.jpg') }}" data-natural-width="750" data-natural-height="600">
      <div class="wow zoomIn" data-wow-duration="2s" data-wow-delay=".25s">
        <h1><strong>WHY DO I NEED A WEBSITE?</strong></h1>
        <br>
        <h2 style="color:white;"><span class="text-change"></span></h2>
      </div>
    </div>
    
    <div class="white">
        <p class="aboutmeheading text-center">MY TECHNICAL SKILLS</p>
        <div class="container">
        <hr class="zig">
        <hr class="zag">
        <div id="skills">
       
      <div class="skillbar clearfix " data-percent="85%">
      	<div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
      	<div class="skillbar-bar" style="background: #e67e22;"></div>
      	<div class="skill-bar-percent">85%</div>
      </div> <!-- End Skill Bar -->
      
      <div class="skillbar clearfix " data-percent="85%">
      	<div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
      	<div class="skillbar-bar" style="background: #3498db;"></div>
      	<div class="skill-bar-percent">85%</div>
      </div> <!-- End Skill Bar -->
      
      <div class="skillbar clearfix " data-percent="70%">
      	<div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
      	<div class="skillbar-bar" style="background: #2c3e50;"></div>
      	<div class="skill-bar-percent">70%</div>
      </div> <!-- End Skill Bar -->
      
      <div class="skillbar clearfix " data-percent="60%">
      	<div class="skillbar-title" style="background: #46465e;"><span>PHP</span></div>
      	<div class="skillbar-bar" style="background: #5a68a5;"></div>
      	<div class="skill-bar-percent">60%</div>
      </div> <!-- End Skill Bar -->
      
        
      <div class="skillbar clearfix " data-percent="65%">
      	<div class="skillbar-title" style="background: #333333;"><span>Flask</span></div>
      	<div class="skillbar-bar" style="background: #525252;"></div>
      	<div class="skill-bar-percent">65%</div>
      </div> <!-- End Skill Bar -->
      
      <div class="skillbar clearfix " data-percent="60%">
      	<div class="skillbar-title" style="background: #27ae60;"><span>Wordpress</span></div>
      	<div class="skillbar-bar" style="background: #2ecc71;"></div>
      	<div class="skill-bar-percent">60%</div>
      </div> <!-- End Skill Bar -->
      
      <div class="skillbar clearfix " data-percent="80%">
      	<div class="skillbar-title" style="background: #124e8c;"><span>Git</span></div>
      	<div class="skillbar-bar" style="background: #4288d0;"></div>
      	<div class="skill-bar-percent">80%</div>
      </div> <!-- End Skill Bar -->
      </div>
        
        <hr class="zig">
        <hr class="zag">
      </div>
      
      
    </div>
    
    
    <div class="parallax-container indexParallax2 text-center" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/wallpaper2.jpg') }}" data-natural-width="750" data-natural-height="600">
      <div class="wow zoomIn" data-wow-duration="2s" data-wow-delay=".25s">
        <i class="fa fa-star fa-3x" aria-hidden="true"></i> <i class="fa fa-star fa-3x" aria-hidden="true"></i> <i class="fa fa-star fa-3x" aria-hidden="true"></i> <i class="fa fa-star fa-3x" aria-hidden="true"></i> <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        <h2><strong>"I found Jafar extremely helpful and professional and would<br> highly recommend him to anyone contemplating a new web site in the future"</strong></h2>
        <br>
      </div>
    </div>
    
    <div class="white">
      <p class="aboutmeheading text-center">LATEST PROJECTS</p>
      <div class="container">  
        <hr class="zig">
        <hr class="zag">
        <p class="text text-center">Please see below for a selection of my recent work from my portfolio. Click on the images for more information on each project.</p>
        <div class="col-md-3 wow slideInLeft" data-wow-duration="2s" data-wow-delay=".25s">
          <div class="hovereffect" title="Mann's Solutions">
              <img class="img-responsive" src="{{ url_for('static', filename='img/photo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Mann's Solutions</h2>
                 <a class="info" href="/mannssolutions">see project details</a>
              </div>
          </div>
        </div>
        <div class="col-md-3 wow slideInLeft" data-wow-duration="2s" data-wow-delay=".25s">
          <div class="hovereffect" title="Cloud 9">
              <center><img class="img-responsive" src="{{ url_for('static', filename='img/Cloud9logo.png') }}" width="255px" height="255px" alt=""></center>
              <div class="overlay">
                 <h2>Cloud 9</h2>
                 <a class="info" href="/cloud9">see project details</a>
              </div>
          </div>
        </div> 
        <div class="col-md-3 wow slideInRight" data-wow-duration="2s" data-wow-delay=".25s">
          <div class="hovereffect" title="Starfighter.io">
              <img class="img-responsive" src="{{ url_for('static', filename='img/starfighterlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>starfighter.io</h2>
                 <a class="info" href="/starfighter">see project details</a>
              </div>
          </div>
        </div>
        <div class="col-md-3 wow slideInRight" data-wow-duration="2s" data-wow-delay=".25s">
          <div class="hovereffect" title="DooWapp">
              <img class="img-responsive" src="{{ url_for('static', filename='img/doowapplogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>DooWapp</h2>
                 <a class="info" href="/doowapp">see project details</a>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <hr class="zig">
        <hr class="zag">
      </div>
    </div>  

    <div class="footer">
        <div class="container">
          <center>
              <p style="font-size:25px;">E-Mail: <a href="mailto:jafsalami@hotmail.co.uk" style="color:white;">jafsalami@hotmail.co.uk</a></p>
              <p style="font-size:16px;"><a href="https://uk.linkedin.com/in/jafarosalami" style="color:white;">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/jafar70" style="color:white;">GitHub <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://twitter.com/JafarSalami" style="color:white;">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></p>
              <p style="font-size:16px;">&copy; Created by Ja'far Salami</p>
              <br>
          </center>
        </div>
    </div>

  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script>
      new WOW().init();
    </script>
    <script src="{{ url_for('static', filename='js/skillbar.js') }}"></script>
  </body>
</html>