<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxSUJ6olxoBg0rPfw4IdD1h8M92WZY1nKt4CGNv-lq1hE4yNDzKg">


    <title>Jafar Salami</title>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
             <i class="fa fa-bars"></i> MENU
          </button>
          <a class="navbar-brand" href="/" style="color:#ff6600;">Jafar Salami</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/portfolio">Portfolio</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/jafar70"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://uk.linkedin.com/in/jafarosalami"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/JafarSalami"><i class="fa fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    
    <div id="parallax-aboutus" class="parallax-container aboutusPara" style="min-height: 50px;margin-bottom:20px;" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/portfolio-wallpaper.jpg') }}" data-natural-width="750" data-natural-height="763">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Portfolio</h1>
            </div>
          </div>
        </div>
        <br>
    </div>
    
    <br>
    
    <div class="container">
      <p class="text text-center">Hopefully you like some of my projects which showcases a selection of the web design and front end development skills I have acquired over the years. If so, please get in touch at <a href="mailto:jafsalami@hotmail.co.uk">jafsalami@hotmail.co.uk</a> or by completing the contact form <a href="/contact">here</a></p>
    </div>
    
    <br> 
    
    <div class="container">
    	<ul class="tabs">
    		<li class="tab-link current" data-tab="tab-1">All</li>
    		<li class="tab-link" data-tab="tab-2">Personal</li>
    		<li class="tab-link" data-tab="tab-3">University Projects</li>
    		<li class="tab-link" data-tab="tab-4">App</li>
    	</ul>
    	<div id="tab-1" class="tab-content current">
    		<div class="container">
            <div class = "col-md-3 portfolioimg">
              <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/photo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Mann's Solutions</h2>
                 <a class="info" href="/mannssolutions">see project details</a>
              </div>
            </div>
            </div>
            
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/niyatilogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Niyati</h2>
                 <a class="info" href="/niyati">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/Cloud9logo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Cloud 9</h2>
                 <a class="info" href="/cloud9">see project details</a>
              </div>
            </div>
           </div>
          
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/starfighterlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>starfighter.io</h2>
                 <a class="info" href="/starfighter">see project details</a>
              </div>
            </div>
           </div>
           
      </div>
    <div class="container">
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/jagslogo.jpeg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Jags Driving School</h2>
                 <a class="info" href="/jagsdrivingschool">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/doowapplogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>DooWapp</h2>
                 <a class="info" href="/doowapp">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/visdatalogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Visdata</h2>
                 <a class="info" href="/visdata">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/cusulogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Coventry University Student Union</h2>
                 <a class="info" href="/cusu">see project details</a>
              </div>
            </div>
           </div>
           
    </div>     
    
    <div class="container">
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/fdmlogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>FDM</h2>
                 <a class="info" href="/fdm">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/churchlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>JCCI</h2>
                 <a class="info" href="/jcci">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/westfieldlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Westfield</h2>
                 <a class="info" href="/westfield">see project details</a>
              </div>
            </div>
           </div>
    </div>
    	</div>
    	<div id="tab-2" class="tab-content">
    		 <div class="container">
            <div class = "col-md-3 portfolioimg">
              <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/photo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Mann's Solutions</h2>
                 <a class="info" href="/mannssolutions">see project details</a>
              </div>
            </div>
            </div>
            
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/niyatilogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Niyati</h2>
                 <a class="info" href="/niyati">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/Cloud9logo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Cloud 9</h2>
                 <a class="info" href="/cloud9">see project details</a>
              </div>
            </div>
           </div>
          
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/starfighterlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>starfighter.io</h2>
                 <a class="info" href="/starfighter">see project details</a>
              </div>
            </div>
           </div>
           
      </div>
    <div class="container">
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/jagslogo.jpeg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Jags Driving School</h2>
                 <a class="info" href="/jagsdrivingschool">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/doowapplogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>DooWapp</h2>
                 <a class="info" href="/doowapp">see project details</a>
              </div>
            </div>
           </div>
           
           <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/visdatalogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Visdata</h2>
                 <a class="info" href="/visdata">see project details</a>
              </div>
            </div>
           </div>

           
    </div>     
    	</div>
    	<div id="tab-3" class="tab-content">
    		<div class="container">
    		  <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/cusulogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Coventry University Student Union</h2>
                 <a class="info" href="/cusu">see project details</a>
              </div>
            </div>
          </div>
          
          <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/fdmlogo.jpg') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>FDM</h2>
                 <a class="info" href="/fdm">see project details</a>
              </div>
            </div>
           </div>
           
           
    		</div>
    	</div>
    	<div id="tab-4" class="tab-content">
    		<div class="container">
    		  <div class = "col-md-3 portfolioimg">
             <div class="hovereffect">
              <img class="img-responsive" src="{{ url_for('static', filename='img/westfieldlogo.png') }}" width="255px" height="255px" alt="">
              <div class="overlay">
                 <h2>Westfield</h2>
                 <a class="info" href="/westfield">see project details</a>
              </div>
            </div>
           </div>
    		</div>
    	</div>
    </div><!-- container -->
    <br>
    <br>
    <div class="footer">
        <div class="container">
          <center>
              <p style="font-size:25px;">E-Mail: <a href="mailto:jafsalami@hotmail.co.uk" style="color:white;">jafsalami@hotmail.co.uk</a></p>
              <p style="font-size:16px;"><a href="https://uk.linkedin.com/in/jafarosalami" style="color:white;">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/jafar70" style="color:white;">GitHub <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://twitter.com/JafarSalami" style="color:white;">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></p>
              <p>&copy; Created by Ja'far Salami</p>
              <br>
          </center>
        </div>
      </div>
          
          
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>