<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxSUJ6olxoBg0rPfw4IdD1h8M92WZY1nKt4CGNv-lq1hE4yNDzKg">


    <title>Jafar Salami</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>

     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:#ff6600;">Jafar Salami</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
          <a href="/portfolio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cusu">Coventry University Student Union</a></li>
            <li><a href="/fdm">Real World Project- FDM</a></li>
            <li><a href="/jcci">JCCI Zion Chapel</a></li>
            <li><a href="/kobe">Kobe Bryant</a></li>
            <li><a href="/oddfuture">Odd Future Fan Club</a></li>
            <li><a href="/westfield">Westfield London</a></li>
          </ul>
        </li>
            <li class="active"><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    <div class="jumbotron jumbotron-special2">
      <div class="container">
        <center><h1>Services</h1></center>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="font-size:25px; text-align:center;">Having good skills in web development and project management, I can provide a number of different services to help you launch your web project online. Contact me at <a href="mailto:jafsalami@hotmail.co.uk" style="color:#ff6600;">jafsalami@hotmail.co.uk</a> and let me know how my freelance web development and project management services can help you…</p>
          <br>
          <hr>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-6">
        <h2 style="text-align:center;"><i class="fa fa-mobile" aria-hidden="true" style="color:#ff6600;"></i> Responsive Development</h2>
        <p style="text-align:center;font-size:17px;">The web landscape is changing fast with the varying web enabled devices that are now available. I see this as a major development for web design as your customers demand information from different screen sizes.</p>
      </div>
      <div class="col-md-6">
        <h2 style="text-align:center;"><i class="fa fa-wrench" aria-hidden="true" style="color:#ff6600;"></i> Front-end Web Development</h2>
        <p style="text-align:center;font-size:17px;">My introduction to HTML was in 2010 so I have had plenty of experience building websites for university and personal projects . I can code my own designs using the latest CSS3, HTML5 and JavaScript techniques.</p>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="col-md-6">
        <h2 style="text-align:center;"><i class="fa fa-server" aria-hidden="true" style="color:#ff6600;"></i> Back-end Web Development </h2>
        <p style="text-align:center;font-size:17px;">In order to make the server, application, and database communicate with each other, I use server-side languages for example Python to build an application, and tools like MySQL to find, save, or change data and serve it back to the user in front-end code. </p>
      </div>
      <div class="col-md-6">
        <h2 style="text-align:center;"><i class="fa fa-bullseye" aria-hidden="true" style="color:#ff6600;"></i> Project Management</h2>
        <p style="text-align:center;font-size:17px;">I have been a project manager for three university projects, where I had to create Gantt and PERT chart to allocate, plan and coordinate tasks to each group members. I also had to carry out a risk assessment which highlighted all the potential risks that could happen during the project and how to overcome the problems if they arise.</p>
      </div>
      
    </div>
    <div class="container">
      <hr>
      <footer>
             
            <div class="container">
              <center> 
                  <p style="font-size:25px;">E-Mail: <a href="mailto:jafsalami@hotmail.co.uk" style="color:white;">jafsalami@hotmail.co.uk</a></p>
                  <p style="font-size:16px;"><a href="https://uk.linkedin.com/in/jafarosalami" style="color:white;">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/jafar70" style="color:white;">GitHub <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp&nbsp&nbsp&nbsp<a href="https://www.facebook.com/jafar.salami.35" style="color:white;">Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a></p>
                  <p>&copy; Created by Ja'far Salami</p>
              </center>
            </div>
          </footer> 
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>